GOOGLE_API_KEY=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai_news_aggregator
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MY_EMAIL=wpbest@gmail.com
APP_PASSWORD=
EMAIL_RECEIVER=wpbest@gmail.com